
<form id="for">
    <label for="user">
        <input type="text" name="userName" placeholder="Type your name" />
    </label>
    <label for="password">
        <input type="password" name="userPassword" placeholder="Type your password" />
    </label>
    <label for="email">
        <input type="email" name="userEmail" placeholder="Type your e-mail" />
    </label>
        
</form>