@import "style.scss";

$bg-cinza: rgba(23, 24, 23, 0.5);

.containerFormRegister {
    width: 90%;
    background-color: $bg-cinza;
    display: none;
    .h2 {
       font-size: 1.5em; 
    }

    a {
        text-decoration: none;
    }
    input {
        height: 40px !important;
    }

    .btnPassword {
        background-color: $bg-cinza;
        font-size: 15pt;
    }
}