@import 'loading.scss';

.divEfectLoadingLogin {
    width: 90%;
    height: 370px;
    background-color: #201c1c;
    // background-color: #171313;

    @mixin patternDivs($width-div, $height-div) {
        background-color: $bg-divs;
        width: $width-div;
        height: $height-div;
    }

    .dImg {
        @include patternDivs(23%, 65px);
    }    
    .dlogin {
        @include patternDivs(80%, 40px);
    }
    .linePass {
        width: 73%;
        height: 40px;
    }
    .dPassword {
        @include patternDivs(80%, 40px);
    }
    .dPadlock {
        @include patternDivs(10%, 40px);
    }
    .dBtnlogin {
        @include patternDivs(50%, 45px);
    }
    .dLink {
        @include patternDivs(55%, 19px);
    }
}