.body-reset-password {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    min-height: 95vh;

    form {
        input {
            background-color: rgba(44, 44, 44, .9) !important;
            color: #fff !important;

            &::placeholder {
                color:  #fff !important ;
            }
        }
    }
}

