<a href="#" class="navbar-brand text-white ml-lg-2 pt-0">
    <img class=" d-none d-lg-inline-block rounded-pill pt-1" src="../../static/build/img/logo-cadastrok.png"
        alt="">
    Cadastr<span class="border-bottom border-warning">Ok</span>
</a>