<div class="modal fade" id="modalDeLogout" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center border border-light rounded" style="background-color: rgb(0, 0, 0);">
                <p class="text-white">You're going out, are you sure?</p>
                <div class="px-4">
                    <button type="button" class="float-left btn btn-outline-danger" onclick="cancel()">Cancel</button>
                    <button type="button" class="float-right btn btn-outline-warning px-3" onclick="logout()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>