<form class="form-inline d-none d-lg-block mx-auto">
    <input class="form-control d-inline mt-1 mr-2 border-light" placeholder="Search" type="search" name="search"
        id="inputSearch">
    <button type="submit" class="btn btn-outline-light">Search</button>
</form>