body {
    background-color: rgb(22, 21, 21);
    font-family: 'Poppins', sans-serif;
    
}

.animation {
    background-color: #000000;
    width: 100%;
    height: 100vh;
}


.divBtnsCrud {
    width: 80% !important;
    height: 40px;
    background-color: rgba(58, 57, 57, 0.4);
    margin: auto;
    
    li {
        display: inline-block;
    }
    .bgBtns {
        background-color: rgba(37, 36, 36, 0.4) !important;
    }
}