

.editProfie {
    background-color: rgb(26, 24, 24);
    height: 280px;

    .h3 {
        font-size: 13pt;
    }

    label {
        font-size: 12pt !important;
    }
    input {
        width: 97% !important;
        font-size: 12pt;
    }
}