

.editProfie {
    background-color: rgb(26, 24, 24);
    height: 270px;

    .h3 {
        font-size: 14pt;
    }

    .close {
        font-size: 25pt !important;
    }

    label {
        font-size: 12pt !important;
    }
    input {
        width: 97% !important;
        font-size: 12pt;
    }
    .btnSubmit {
        font-size: 13pt;
    }
}