.imgDrop {
    width: 65px !important;
    height: 55px !important;
    border-style: 2px !important;
}

.dropdown-menu {
    background-color: rgb(7, 7, 7) !important;
    width: 220px !important;
    height: 310px !important;
}

.editProfile {

    .iconEditUser {
        width: 28px;
        height: 28px;
    }
}