.imgDrop {
    width: 65px !important;
    height: 55px !important;
    border-style: 2px !important;
}

$bg-nav: rgb(0, 0, 0) !important;

.dropdown-menu {
    background-color: $bg-nav;
    width: 220px !important;
    min-height: 350px !important;

    #imgUser {
        width: 100px;
        height: 100px;
    }

}

.navIndex {
    background-color: rgb(0, 0, 0);
    height: 75px;

    .navbar-brand {
        font-family: 'Della Respira', serif;
        font-size: 16pt;
    }

    img {
        height: 60px;
    }

    .dataUser {
        font-size: 17px;
        color: #b4aaaa !important;
        width: 100% !important;
    }
}

#inputSearch {
    background-color: $bg-nav;
    color: #ffffff;
}

.editProfile {

    .iconEditUser {
        width: 28px;
        height: 23px;
    }

    .editProfile {
        background-color: $bg-nav;
        
    }
}