.imgDrop {
    width: 65px !important;
    height: 55px !important;
    border-style: 2px !important;
}

$bg-nav: rgb(0, 0, 0) !important;

.dropdown-menu {
    background-color: $bg-nav;
    width: 220px !important;
    height: 270px !important;
}

#inputSearch {
    background-color: $bg-nav;
    color: #ffffff;
}

.editProfile {

    .iconEditUser {
        width: 28px;
        height: 28px;
    }

    .editProfile {
        background-color: $bg-nav;
        
    }
}