
$bgDivUpload: #1e1d1d;;

.divUpload {
    background-color: $bgDivUpload;
    min-height: 270px;

    .iconEdit {
        width: 28px;
        height: 28px;
    }
    .h3 {
        font-size: 14pt;
    }

    .close {
        font-size: 25pt !important;
    }

    div.divPreviewImg {
        width: 100%;
        height: 120px;
        border-width: 2px !important;

        img#previewImg {
            width: 35%;
        }

       .iconLoadingUploading {
           width: 60px;
           height: 50px;
       }
       .iconUploadRight {
            width: 45px;
            height: 40px;
       }
    }

    label {
        font-size: 12pt !important;
    }
    input {
        width: 80% !important;
        font-size: 12pt;
    }
    .btnSubmit {
        font-size: 13pt;
    }
}