@import './animate.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.divContainerWelcome {
    position: absolute;
    top: 20px;
    left: 0px;
}

.divWelcome {
    width: 100%;
    min-height: 400px;
    border-left-width: 15px !important;
    background-image: linear-gradient(rgb(39, 37, 37), rgb(7, 7, 7));
    font-family: 'Roboto', sans-serif !important;

    animation: fadeIn 1s;

    p.l1 {
        color: #ffffff;
        font-size: 22pt;
        font-weight: bold;
    }
    .l2 {
        color: #e9e6e6;
        font-size: 15pt; 
    }

    button {
        font-size: 13pt !important;
    }
}