<ul class="nav mt-2 d-sm-block d-lg-none divBtnsCrud rounded-pill justify-content-center text-center">
    <li class="nav-item">
        <button type="button" class="mr-4 pt-1 bgBtns border-0">
            <img class="text-white" src="../../static/build/img/icon-create.png" alt="Icon Create">
        </button>
    </li>
    <li class="nav-item">
        <button type="button" class="mr-4 pt-1 bgBtns border-0">
            <img class="text-white" src="../../static/build/img/icon-read.png" alt="Icon Read">
        </button>
    </li>
    <li class="nav-item">
        <button type="button" class="mr-4 pt-1 bgBtns border-0">
            <img class="text-white" src="../../static/build/img/icon-update.png" alt="Icon Update">
        </button>
    </li>
    <li class="nav-item">
        <button type="button" class="pt-1 bgBtns border-0">
            <img class="text-white" src="../../static/build/img/icon-delete.png" alt="Icon Delete">
        </button>
    </li>
</ul>