<div class="container-fluid divContainerWelcome <%= firstAccess %>">
    <div class="row">
        <div class="col-10 col-md-7 col-lg-6 mx-auto divWelcome border border-warning rounded-right">
            <img src="./../../static/build/img/astronaut.jpg"
                class="d-block mt-3 pt-xs-5 mx-auto w-50 h-auto border rounded-circle" alt="">
            <div class="mt-3 text-center mb-md-5">
                <p class="l1">Welcome!</p>
                <p class="l2">I'm glad you're here. I hope you like it.!</p>
                <button class="btn btn-warning mx-auto d-block mt-4 px-3" onclick="updateFirstAccess()">Let's Go!</button>
            </div>
        </div>
    </div>
</div>