@import "style.scss";

.containerForm {
    width: 90%;
    background-color: rgba(23, 24, 23, 0.5);
    display: none;
    .h2 {
       font-size: 1.5em; 
    }

    a {
        text-decoration: none;
    }

    .iconPass {
        width: 30px;
        height: 28px;
        background-image: url('../../build/img/icon-show-pass.png');
        background-size: 100% 100%;
        margin-top: -5px;
    }
}