// Div Loading
$bg-divs: #333232;

.loading {
    width: 90%;
    height: 370px;
    background-color: rgb(22, 22, 22);
    display: none;

    @mixin patternDivs($width-div, $height-div) {
        background-color: $bg-divs;
        width: $width-div;
        height: $height-div;
    }

    .dtitle {
        @include patternDivs(47%, 32px)
    }
    .dname {
        @include patternDivs(73%, 35px);
    }
    .dpass {
        @include patternDivs(49%, 35px);
        
    }
    .demail {
        @extend .dname;
    }
    .dlogin {
        @include patternDivs(40%, 45px);
    }
    .dlink {
        @include patternDivs(30%, 10px);
    }
}