<div class="dImg2 d-none mx-auto rounded-circle mt-4 mb-4"></div>

<div class="divEfectLoadingLogin mx-auto rounded mt-4 d-none text-center">
    <div class="dImg mx-auto rounded-circle mb-4"></div>
    <div class="dlogin mx-auto rounded mb-4"></div>
    <div class="linePass mx-auto mb-4">
        <div class="dPassword rounded d-inline-block mr-2"></div>
        <div class="dPadlock rounded d-inline-block"></div>
    </div>
    <div class="dBtnlogin mx-auto rounded mb-5"></div>
    <div class="dLink mx-auto rounded-pill"></div>
</div>