<div class="divEfectLoadingRegister mx-auto rounded mt-4 pt-4">
    <div class="dtitle rounded-pill mx-auto mb-4"></div>
    <div class="dname rounded mx-auto mb-4"></div>
    <div class="dpass rounded ml-5 mb-4"></div>
    <div class="demail rounded mx-auto mb-4"></div>
    <div class="dlogin rounded mx-auto mb-4"></div>
    <div class="dlink rounded-pill mx-auto"></div>
</div>