<div class="col-12 col-md-9 col-lg-12 mt-4 d-none divLogin" id="divLogin">
    <form id="formLogin" class="w-75 mx-auto">
        <div class="form-group mb-4">
            <label for="user" class="d-none">User</label>
            <input type="text" class="form-control pr-5 border border-light w-100 mx-auto" name="loginUser"
                id="user" oninput="validationEmail('user', '.btnLogin-js')" placeholder="Type your email">
        </div>

        <div class="form-group mb-4 text-center">
            <label for="password" class="d-none">password</label>
            <input type="password" class="form-control pr-5 d-inline border border-light w-75"
                id="pass" oninput="validationInput('pass', '6')" name="passUser" placeholder="Type your password">
            
                <button type="button" class="btn border-0 text-light btnPassword" onclick="showHidePassword('pass')" style="font-size: 15pt;"><i class="fa fa-unlock-alt fa-1x"
                    aria-hidden="true"></i></button>
                
                <div class="divErro d-none mt-3 text-danger text-center" style="font-size: 11pt;">
                    <img src="./../../static/build/img/icon-error.png" class="d-none iconErro" alt="">
                    <img class="d-none mx-auto" id="imgLoadingLogin" src="../../static/build/img/icon-loading-login.gif" alt="Gif loading Login">
                    <p class="textDivErro d-none mt-3 ml-1 d-inline"></p>
                </div>
        </div>

        <div class="text-center cont">
            <button class="btn btn-outline-secondary py-2 px-5 btnLogin-js" disabled type="submit" onclick="LoginUser()">Log in</button>
        </div>
    </form>
    <div class="col mt-5 text-center">
        <button class="btn btn-outline-warning border-0" type="button" id="btnRegister-js" onclick="showFormRegister()"
            style="font-size: 14pt;">Ok, I want to register!</button>
    </div>

</div>