<div class="img-login col-lg-7 d-none d-lg-block">
    <div class="shadow w-100 h-100">
        <div class="text pt-5">
            <p class="h1 l1 pt-5 pl-3 m-0">CadastrOk</p>
            <p class="l2 pl-3">- A simple CRUD, log in a start playing -</p>
        </div>
    </div>
</div>