
<body>

    <div class="animation d-flex justify-content-center align-items-center">
        <img class="border-0" src="../../static/build/img/gifLogin.gif" alt="Gif de loading com lamps">
    </div>

    <div class="containner-fluid d-none">

        <div class="navbar navbar-expand-lg navbar-light navIndex">
            <a href="#" class="navbar-brand text-white ml-lg-2 pt-0">
                <img class=" d-none d-lg-inline-block rounded-pill pt-1" src="../../static/build/img/test-logo.png"
                    alt="Image C from Cadastrok">
                Cadastr<span class="border-bottom border-warning">Ok</span>
            </a>

            <form class="form-inline d-none d-lg-block mx-auto">
                <input class="form-control d-inline mt-1 mr-2" placeholder="Search" type="search" name="search"
                    id="inputSearch">
                <button type="submit" class="btn btn-outline-warning">Search</button>
            </form>

            <div class="dropdown dropleft">
                <input class="dropdown-toggle imgDrop rounded-circle border border-light mr-2" 
                data-toggle="dropdown" id="dropDrownNav" type="image" src="../../static/build/img/user.jpg" alt="">
                
                <div class="dropdown-menu px-2 pt-3 rounded border border-warning" id="dropDrownNav">
                    <div class="mx-auto pb-3">
                        <img class="rounded-circle border border-warning"
                            src="../../static/build/img/user.jpg" id="imgUser" alt="">

                        <span class="d-inline text-light ml-1" id="nameUser">Nome</span>
                    </div>

                    <div class="dropdown-divider mx-auto border border-dark mt-1"></div>

                    <div class="editProfile w-75 mx-auto mt-4 mb-5">
                        <img class="iconEditUser" src="../../static/build/img/userEdit.png" alt="">
                        <a href="#" class="text-decoration-none text-light">
                            Edit my user
                        </a>
                    </div>

                    <div class="mx-auto text-center">
                        <button class="btn btn-outline-warning">Logn out</button>
                    </div>

                </div>
            </div>

        </div>

        <ul class="nav mt-2 d-sm-block d-lg-none divBtnsCrud rounded-pill justify-content-center text-center">
            <li class="nav-item">
                <button type="button" class="mr-4 pt-1 bg-dark border-0">
                    <img class="text-white" src="../../static/build/img/icon-create.png" alt="Icon Create">
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="mr-4 pt-1 bg-dark border-0">
                    <img class="text-white" src="../../static/build/img/icon-read.png" alt="Icon Read">
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="mr-4 pt-1 bg-dark border-0">
                    <img class="text-white" src="../../static/build/img/icon-update.png" alt="Icon Update">
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="pt-1 bg-dark border-0">
                    <img class="text-white" src="../../static/build/img/icon-delete.png" alt="Icon Delete">
                </button>
            </li>
        </ul>


    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous">
    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../../static/build/js/dashboard.min.js"></script>
    <script src="../../static/build/js/pace.min.js"></script>


</body>
