<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../static/build/img/logo-cadastrok.png" />
    <title>Reset Passoword - CadastrOk</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/build/css/style.min.css">
</head>
<body class="body-reset-password" style="background-image: url(../../static/build/img/fundo_reset.png);">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 mx-auto">
                <h1 class="text-center mt-2">
                    <a href="/">
                        <img src="../../static/build/img/logo-cadastrok.png" class="rounded-pill" alt="Logo Cadastrok">
                    </a>
                </h1>

                <p class="text-left text-white mt-3 mb-4">
                    To recover your password, enter your registered email below. We will send you an email with instructions for you to recover your password.
                </p>
    
                <form autocomplete="off">
                    <div class="form-group">
                        <label for="email-reset-password" class="d-none">E-mail</label>
                        <input type="email" class="form-control" id="email-reset-password" required placeholder="Type your e-mail">
                    </div>
                    <button type="submit" class="btn btn-warning pl-2 w-50" id="send-form-reset-password">Submit</button>
                </form>

                <div class="text-center" id="div-response">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12" id="backHome">
                <p class="text-center mt-5 text-white">
                    Projeto CadastrOk - Reset Password
                </p>
                <a href="/" class="d-none text-center mt-5 btn btn-outline-warning w-25 mx-auto">
                    Back to home page
                </a>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../../static/build/js/index.min.js"></script>

</body>
</html>